<!DOCTYPE html>
<html lang="en" ng-app='polygonStadiumApp'>

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!-- Material Design fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Specific Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Orbitron:400,900,700,500' rel='stylesheet' type='text/css'>
  <!-- Jquery -->
  <script src="lib/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <!-- Bootstrap -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <script src="lib/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
  <!-- Bootstrap Material Design -->
  <link href="lib/bootstrap-material-design/dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="lib/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
  <link href="lib/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
  <script src="lib/bootstrap-material-design/dist/js/material.min.js" charset="utf-8"></script>
  <script src="lib/bootstrap-material-design/dist/js/ripples.min.js" charset="utf-8"></script>
  <!-- Angular -->
  <script src="lib/angular/angular.min.js" charset="utf-8"></script>
  <script src="lib/angular-route/angular-route.min.js" charset="utf-8"></script>
  <script src="js/app.js" charset="utf-8"></script>
  <script src="js/constants.js" charset="utf-8"></script>
  <script src="js/controllers.js" charset="utf-8"></script>
  <script src="js/filters.js" charset="utf-8"></script>
  <script src="js/routes.js" charset="utf-8"></script>
  <script src="js/services.js" charset="utf-8"></script>
  <script src="js/directives.js" charset="utf-8"></script>
  <script src="js/factories.js" charset="utf-8"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
  <!-- Style -->
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
  <div ng-controller="NavbarController as NC" class="navbar navbar-fixed-top material-high">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand font-orbitron" ng-click="NC.goHome()" href="javascript:void(0)"><img class="logo" src="../images/polygon.png" alt="..."></a>
        <ul class="nav navbar-nav">
          <li class="font-orbitron"><a href="javascript:void(0)" ng-click="NC.playNow()">PLAY POLYGON STADIUM</a></li>
        </ul>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-click="NC.goToLeaderboard()" class="font-orbitron" href="javascript:void(0)">LEADERBOARD</a></li>
          <li><a ng-click="NC.goToSignup()" ng-if="NC.user.id === 'none'" href="javascript:void(0)" class="font-orbitron">Signup</a></li>
          <li class="dropdown">
            <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle font-orbitron" data-toggle="dropdown" ng-click="NC.goToLogin()">{{NC.user.username}}
            <b ng-hide="NC.user.id === 'none'" class="caret"></b></a>
            <ul ng-if="NC.user.id !== 'none'" class="dropdown-menu">
              <li><a ng-click="NC.goToProfile()" href="javascript:void(0)">Profile</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)" ng-click="NC.logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-view></div>
</body>
  <script src="../lib/three.min.js"></script>
  <script src="../lib/cannon.min.js"></script>
  <script src="lib/tween.js/src/Tween.js"></script>
</html>
