html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: -1px;
  overflow: hidden;
  font-family: arial;
}
@media (max-height: 754px) {
  h1 {
    font-size: 3rem;
    margin: .75rem;
  }
  h3 {
    font-size: 1.5rem;
    margin: 0;
  }
}
.save {
  cursor: pointer;
  color: #212121;
  border-radius: 12rem;
  border: 3px #4A148C solid;
  text-align: center;
  background-color: #26A69A;
  margin-bottom: 1rem;
}
.new-game {
  cursor: pointer;
  color: #FAFAFA;
  border-radius: 12rem;
  text-align: center;
  background-color: #4A148C;
}
.hidden {
  border: none;
}
.how-to-play {
  padding: 3rem;
  color: #212121;
  border-radius: 10px;
  border: 3px #212121 solid;
  background-color: #FAFAFA;
}
#hud {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.stretch-across {
  width: 100%;
  height: 100%;
}
#upper-left {
  position: absolute;
  left: 2.1%;
  top: -1.5%;
  z-index: 2;
  width: 20%;
  text-align: center;
}
#upper-right {
  position: absolute;
  right: 3%;
  top: -1.5%;
  z-index: 2;
  width: 18%;
  text-align: center;
}
#bottom-middle {
  position: absolute;
  left: 32%;
  bottom: .5%;
  z-index: 2;
  width: 40%;
  height: 4%;
}
#health-bar {
  float: left;
  width: 75%;
  height: 100%;
  border: solid #2B3856 3px;
  background: rgba(150, 150, 150, 0.2);
}
#health {
  width: 100%;
  background: linear-gradient(to top, #2196F3, #1565C0);
}
#life-counter {
  margin-top: 0.4%;
  margin-left: 1%;
  float: left;
}
#round {}
#enemies-remaining {}
#instructions {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FAFAFA;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#player-name {}
#score {}
#next-round {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -700%);
  color: white;
}
.health-bar-red {
  background: linear-gradient(to top, #F44336, #C62828) !important;
}
.health-bar-orange {
  background: linear-gradient(to top, #FF9800, #EF6C00) !important;
}
.health-bar-yellow {
  background: linear-gradient(to top, #FFEB3B, #F9A825) !important;
}
.health-bar-green {
  background: linear-gradient(to top, #4CAF50, #2E7D32) !important;
}
.health-bar-blue {
  background: linear-gradient(to top, #2196F3, #1565C0) !important;
}
.round {
  margin-bottom: 0;
}
.delete-save {
  cursor: pointer;
  color: #FAFAFA;
  border-radius: 12rem;
  border: 3px #212121 solid;
  text-align: center;
  background-color: #B71C1C;
}
.alert {
  display: none;
  z-index: 3;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  color: #FAFAFA;
  border-radius: 12rem;
  border: 3px #212121 solid;
  background-color: #4A148C;
}
.alert-error {
  display: none;
  z-index: 3;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  color: #FAFAFA;
  border-radius: 12rem;
  border: 3px #212121 solid;
  background-color: #B71C1C;
}
.game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -600%);
  font-size: 10rem;
  color: rgba(183, 28, 28, 0.7);
}
#messages {
  top: 0;
  bottom: 0;
  z-index: 2;
  position: relative;
}
