<link rel="stylesheet" href="../css/profile.css">
<div class="container">
  <h1 class="push-down">PROFILE</h1>
  <form name='updatedUser' ng-submit="PC.update()" novalidate>
    <div class="col-md-3">
      <p class="right-align font-orbitron bold">Current Username:</p>
      <p class="right-align">{{PC.user.username}}</p>
    </div>
    <div class="col-md-9 form-group label-floating">
      <label id="username" ng-class="{ invalid: !updatedUser.username.$valid && updatedUser.username.$touched }" class="control-label">NEW USERNAME</label>
      <input name='username' ng-pattern="/^[a-z0-9A-Z]+$/" ng-minlength="4" ng-maxlength="16" ng-model="PC.updatedUser.username" type="text" class="form-control" />
      <p ng-if="updatedUser.username.$error.minlength && !updatedUser.username.$error.pattern" class="help-block">Usernames must be at least 4 characters.</p>
      <p ng-if="updatedUser.username.$error.maxlength && !updatedUser.username.$error.pattern" class="help-block">Passwords must be no more than 16 characters.</p>
      <p ng-if="updatedUser.username.$error.pattern" class="help-block">Usernames can only contain letters and numbers.</p>
    </div>
    <div class="col-md-3">
      <p class="right-align font-orbitron bold">Current Email:</p>
      <p class="right-align">{{PC.user.email}}</p>
    </div>
    <div class="col-md-9 form-group label-floating">
      <label id="email" ng-class="{ invalid: !updatedUser.email.$valid && updatedUser.email.$touched }" class="control-label">NEW EMAIL</label>
      <input name='email' ng-model="PC.updatedUser.email" type="email" class="form-control" />
      <p ng-if="!updatedUser.email.$valid" class="help-block">Email is invalid.</p>
    </div>

    <div class="col-md-offset-3 col-md-9">
      <div class="stretch-half form-group label-floating">
        <label id="new-password" ng-class="{ valid: updatedUser.newPassword.$valid && updatedUser.newPassword.$touched && PC.updatedUser.newPassword.length, invalid: !updatedUser.newPassword.$valid && updatedUser.newPassword.$touched }" class="control-label">NEW PASSWORD</label>
        <input name="newPassword" ng-minlength="8" ng-maxlength="24" ng-model="PC.updatedUser.newPassword" type="password" class="form-control" />
        <p ng-if="updatedUser.newPassword.$error.minlength" class="help-block">Passwords must be at least 8 characters.</p>
        <p ng-if="updatedUser.newPassword.$error.maxlength" class="help-block">Passwords must be no more than 24 characters.</p>
      </div>
      <div class="stretch-half form-group label-floating">
        <label id="confirm-password" ng-class="{ valid: PC.updatedUser.confirmPassword === PC.updatedUser.newPassword && PC.updatedUser.newPassword.length, invalid: updatedUser.confirmPassword.$touched && PC.updatedUser.confirmPassword !== PC.updatedUser.newPassword && PC.updatedUser.newPassword.length }"
          class="control-label">CONFIRM PASSWORD</label>
        <input name="confirmPassword" ng-model="PC.updatedUser.confirmPassword" type="password" class="form-control" />
        <p ng-if="PC.updatedUser.confirmPassword !== PC.updatedUser.newPassword" class="help-block">Passwords do not match.</p>
      </div>
    </div>

    <div class="col-md-3"></div>
    <div class="col-md-9 form-group label-floating">
      <label id="current-password" class="control-label">CURRENT PASSWORD</label>
      <input name="currentPassword" required ng-model="PC.updatedUser.currentPassword" type="password" class="form-control" />
    </div>
    <div class="col-md-offset-4 col-md-6">
      <button id="update" ng-disabled="!PC.updatedUser.currentPassword.length || PC.currentPassword.password.length < 8" type="submit" class="btn btn-raised stretch material-hover">UPDATE PROFILE</button>
    </div>
  </form>
  <div ng-class="{ success: PC.success, error: !PC.success }" class="message" ng-show="PC.message">
    <h3>{{PC.message}}</h3>
  </div>
  <img class="logo2" src="../images/polygon.png" alt="...">
</div>
